body, html, .container {
  height: 100%;
  overflow: hidden;
}

.container{
}


.element-available-datagrid {
}

.element-available-datagrid div {
    margin: 0px;
    float: left;
}

.element-available-datagrid div div {
    background-color: pink;
    float: left;
    border: 1px solid red;
    margin: 3px;
    padding: 3px;
    cursor: pointer;
}

.element-available-datagrid div:empty div:empty span:empty {
    display: none;
}

.element-db-available-datagrid{
    background-color: lightgreen !important;
    border: 1px solid green !important;
}

.dgrid{
    padding: 0px;
    margin: 0px;
    border-collapse: collapse;
    border: 0px solid red;
    font-size: small;
}

.dgrid input{
    padding: 0px;
    margin: 0px;
    width: 93px;
    border: 0px solid gray;
}

.dgrid td{
    border: 1px solid gray;
}

.dgrid td, th, tr{
    padding: 0px;
    margin: 0px;
}

.dgrid-variable{
    background-color: #fffccc;
}

.dgrid-cell-long-content {
    position: absolute;
    width: 204px;
    height: 60px;
    margin-top: -8px;
}